# Compiled object files
*.o

# Compiled binary
*.exe

# Dev-C++ project files (buat sendiri di lokal)
*.dev
*.layout
Makefile.win

# File test lokal
test_*.cpp
test_*.exe

# OS files
.DS_Store
Thumbs.db